html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

nav {
    background-color: #24272a;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div > a {
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}

nav>div>a:hover {
    color: turquoise;
}

section {
    background-image: url(../images/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    background-color: #24272a;
    color: whitesmoke;
    height: 150px;
    width: 100%;
}

input {
    border: 0px solid #333333;
    padding: 10px 20px;
    border-radius: 4px;
    width: 20%;
}

input::placeholder {
    text-align: center;
    color: #24272a;
}

h3 {
    color: lightcoral;
    font-size: smaller;
}

section > div {
    width: 100%;
    display: flex;
}

#bedu-logo {
    width: 50px;
    margin: 10px 10px;
}

#bedu-logo svg {
    fill: white;
}

#footer p {
    color: white;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button {
    position: relative;
    margin-bottom: 10px;
    background-image: url(../images/search.png);

}

.container-title-subtitle {
    font-size: 30px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.45);
}

.container-title-subtitle2 {
    font-size: 20px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.45);
}

@media only screen and (max-width: 600px) {
    section {
        background-image: url(../images/hallstatt.jpg);
    }

    input {
        display: none;
    }
}